<% include ./partials/header %>


    <label>Select Date</label>
    <form id="form" action="/search" method="GET">
        <select id="year" name="year">
            <option value="2019">2019</option>
        </select>
        <select id="month" name="month">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select id="day" name="day">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>
        
        <!-- 조회 마지막 기준 폼 -->
        <select id="year2" name="year2">
            <option value="2019">2019</option>
        </select>
        <select id="month2" name="month2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
        </select>
        <select id="day2" name="day2">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
        </select>

        <a id="confirm-btn" class="btn btn-success text-white" type="submit">확인</a>
    </form>
    <a href="/dashboard" class="btn btn-primary text-white">Dashboard</a>

    <% if( typeof result === "undefined" || result.length === 0 ) { %>
    <div class="container pt-5">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Created_at</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Total Price</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
          </table>
          <div class="container">
            <p class="text-center">No data</p>
          </div>
        <% } else { %>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Created_at</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
                <th scope="col">Total Price</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
              </tr>
            </thead>
            <tbody>
            <% result.forEach(product => { %>
              <tr>
                <th scope="row"><%= new Date(product.created_at).toLocaleString() %></th>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.amount %></td>
                <td><%= product.total_price %></td>
                <td><%= product.description %></td>
                <td><a href="/dashboard/products/<%= product.id %>/edit" class="btn btn-warning text-white">Edit</a></td>
                <td>
                  <form action="/dashboard/products/<%= product.id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger text-white" type="submit">Delete</a>
                  </form>  
                </td>
                </tr>
            <% }) %>
            </tbody>
          </table>
        <% } %>
    </div>
  
    <script type="text/javascript" src="/scripts/search_date.js"></script>
    <script>

        const myForm = document.getElementById("form");
        const select = document.querySelector(".select");
        const btn = document.getElementById("confirm-btn");
       
        /*
        function test(event){
            
            console.log(event.target.value);
            if(event.target.name === "year"){
               year = event.target.value;
            } else if (event.target.name === "month"){
               month = event.target.value;
            } else if (event.target.name === "day
                day = event.target.value;
                //day = typeof event.target.value === 'undefined' ? day : "";
            }
            btn.onclick = function(e){
                e.preventDefault();
                formData = new FormData(myForm);      
                console.log(formData.get("year"));
                console.log(formData.get("month"));
                console.log(formData.get("day"));

                if(year || month || day){
                    btn.setAttribute("href", `/search/${year}?month=${month}&day=${day}`);
                }
            }
        }
    
      */
        


        yearVal = new Date().getFullYear();
        monthVal = new Date().getMonth() + 1;
        dayVal = new Date().getDate() - 1;
        
        year2Val = new Date().getFullYear();
        month2Val = new Date().getMonth() + 1;
        day2Val = new Date().getDate();

        //year[year.selectedIndex]



        
        const fullMonths = [1,3,5,7,8,10,12];

        
/*
        month.onchange = () => {
           FullMonths.filter( month => {
            if(month === month[month.selectedIndex].value){
                for ( let i = 0; i < 31; i++){
                    document.createElement("option");
                }
            }
           });      
        }
        month2.onchange = () => {

        }
*/
        




        btn.onclick = function(e){
            let year, month, day, year2, month2, day2;
            let formData = new FormData();
            //e.preventDefault();
            formData = new FormData(myForm);     
            
            year = formData.get("year");
            month = formData.get("month");
            day = formData.get("day")
            year2 = formData.get("year2");
            month2= formData.get("month2");
            day2 = formData.get("day2")
            
            console.log(formData.get("year"));
            console.log(formData.get("month"));
            console.log(formData.get("day"));
            console.log(formData.get("year2"));
            console.log(formData.get("month2"));
            console.log(formData.get("day2"));

           
            btn.setAttribute("href", `/search/${year}?month=${month}&day=${day}&year2=${year2}&month2=${month2}&day2=${day2}`);
            
        }
        
        
        
    
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

</body>
</html>